
html {
    max-width: 950px;
    margin: auto;
color: black}


h1,h2,h3{
    text-align: center;

}
h3{
    background-color: #C33C54;
    color: white;
}
    
.week4,.week5,.week6,.week7{
    display: none;
}

footer{
    text-align: center;
    padding: 10px;
}

body{
    max-width: 1280px;
    height: 800px;

    color: black;
   
   
}

main{
border: solid 3px #C33C54;
    max-width: 1000px;
    height: 2200px;
}

p{
    text-align: left;
    padding: 10px;
}

ol{
    list-style: none;
      text-align: center;
  }

  a:link, a:visited {
  
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
  }
  
  a:hover, a:active {
    background-color:  rosybrown;
   
    
  }

 .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }